<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    <ol>
     <li>R</li>
     <li>Python</li>
     <li>SQL</li>
    </ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>numpy</li>   
    <li>pandas</li>   
    <li>matplotlib</li>   
</ol>

<table>
    <tr><td>Data Science Tools </td></tr>
    <tr><td>Apache Spark</td></tr>
    <tr><td>JupiterNotebook </td></tr>
    <tr><td>PowerBI</td></tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<b>Objectives:</b>
<ul>
    <li>List popular languages for Data Science </li>
    <li> discover the pattern of data </li>
    <li> gather relevant information for analysis</li>
</ul>

<h2>Author </h2>
S.Chakraborti